<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <img src="/static/gsx-icon.png" alt="" width="80em">
        <div id="hamburgers">
            <div class="hamburger bar1"></div>
            <div class="hamburger bar2"></div>
            <div class="hamburger bar3"></div>
        </div>
        <div id="navitems" class="navitems">
            a
        </div>
    </nav>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<script src="/static/script.js"></script>
<link rel="stylesheet" href="/static/style.css">
</html>